@charset "utf-8";
body {
	font:12px/1.5 Tahoma, Arial, \5B8B\4F53;
	background:#b4e2ff url(../images/loginBg.jpg) no-repeat 50% -200px;
	color:#333;
}
a:link, a:visited { color:#333;text-decoration:none; }
a:hover, a:active, a:focus { color:#39F;text-decoration:underline; }

#login {
	width:800px;
	height:450px;	
	min-width:800px;
	min-height:450px;
	margin:0 auto;
	padding-top:130px;
	overflow:hidden;
}
#login .logo {
	float:left;
	display:inline;
	width:390px;
	margin-left:10px;
	padding-top:150px;
	text-align:center;
}
#login .form {
	float:right;
	display:inline;
	width:370px;
	margin-left:10px;
	padding-top:150px;
}
#login .form .infor {
	height:auto;
	padding-left:54px;
	color:#c00;
}
#login .form ul {
	padding-left:30px;
}
#login .form li {
	height:30px;
	line-height:30px;
	margin-bottom:8px;
	overflow:hidden;
}
#login .form li label {
	display:inline-block;
	*display:inline;
	*zoom:1;
	margin-right:5px;
	vertical-align:top;
}
#login .form li .inputWrap {
	display:inline-block;
	*display:inline;
	*zoom:1;
	background:url(../images/login_input.gif) no-repeat;
	overflow:hidden;
	width:161px;
	height:30px;
	vertical-align:top;
}
#login .form li .txt {
	width:151px;	
	height:24px;
	line-height:24px;
	padding:3px 5px;
	border:none;
	background:transparent;
}
#login .form li .short {
	width:101px;
	background:url(../images/login_input2.gif) no-repeat;
}
#login .form li .short .txt {
	width:91px;	
}
#login .form li .codeImg {
	margin-left:5px;
}
#login .form li .loginBtn {
	width:94px;
	height:28px;
	line-height:28px;
	margin-left:54px;
	border:none;
	background:#4b8dc1 url(../images/loginBtn.gif) no-repeat;
	cursor:pointer;
}
